{% load static %}

{% block extrahead %}
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    {{ block.super }}
{% endblock %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Task Manager{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.3/dist/flowbite.min.css">
        <script src="https://unpkg.com/flowbite@1.4.3/dist/flowbite.js"></script>
        {% include 'comp/style.html' %}
</head>
<body class=" bg-gray-50 min-w-full dark:bg-gray-600">
  <div class="h-fit  relative ">
  {% include 'comp/menu.html' %}

    <div class="sm:mx-0 sm:my-2 md:mx-1 lg:py-2 xl:py-3 2xl:py-3  ">
      {% block content %}
      {% endblock content %}
    </div>

    <div class="h-[2rem]">
      
    </div>
    <div class="absolute inset-x-0  ">
    {% include 'comp/footer.html' %}
    </div>
  </div>
</body>
</html>
