{% load static %}

{% block extrahead %}
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    {{ block.super }}
{% endblock %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Task Manager{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.3/dist/flowbite.min.css">
        <script src="https://unpkg.com/flowbite@1.4.3/dist/flowbite.js"></script>
        {% include 'comp/style.html' %}
</head>
<body class=" bg-gray-50 dark:bg-gray-600 ">
  <div class="h-min">
  <div class="relative ">
  {% include 'comp/menu.html' %}

  {% if messages %}
    {% for message in messages %}
<div class="flex p-4 m-2 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
  <svg class="inline flex-shrink-0 mr-3 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
  <div>
    <span class="font-bold"> {{ message }}.</span>
  </div>
</div>      
    {% endfor %}
  {% endif %}


    <div class="sm:mx-0 sm:my-2 md:mx-1 lg:py-2 xl:py-3 2xl:py-3  ">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</div>
  <div class="inset-x-0  ">
    {% include 'comp/footer.html' %}
  </div>
</body>
</html>
